* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    flex-direction: column;
    font-family: 'Overpass', sans-serif;
    background-color: var(--very-dark-blue);
    font-size: 15px;
}
.container {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {display: none;}